* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
/*/Navbar Css Start */
.navbar {
    padding-top: 20px;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon img {
    width: 130px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 38px;
    align-items: center;
}
.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
.btn {
    background-color: #4caf4f;
    color: #fff !important;
    display: inline-block !important;
    padding: 0.6rem 1.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}
/* Navbar css end */
.default-btn {
    text-decoration: none;
    background-color: #4caf4f;
    color: #fff !important;
    display: inline-block !important;
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}
/* Header Css Start */
.header-section {
    background-color: #f5f7fa;
    height: 70vh;
    padding-top: 80px;
}
.header-row {
    display: flex;
    align-items: center;
}
.header-details {
    width: 60%;
}
.primary-heading {
    color: #4d4d4d;
    font-size: 3.2rem;
    font-weight: 500;
}
.primary-description {
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin: 20px 0;

}
span {
    color: #4caf4f;
}
.header-img{
    width: 40%;
}
.middle-section{
    padding-top: 40px;
}
.middle-details{
    text-align: center;
}
.secondary-heading{
    color: #4d4d4d;
    font-weight: 600;
}
.secondary-description{
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin: 20px 0;
}
.middle-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
/* Header Css end */
/* Card Css Start */
.card-section {
    padding-top: 60px;
}
.card-details {
    text-align: center;
}
.third-heading {
    color: #4d4d4d;
    font-weight: 600;
}
.third-description {
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin: 20px 0;
}
.card-row {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.item {
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 12px 24px;
    border-radius: 6px;
}
.item h3{
    color: #4d4d4d;
    font-weight: 700;
    margin-top: 10px;
}
.item p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin: 20px 0;
}
/* Card Css End */
/* Part css start */
.part-section {
    padding: 70px;
}
.part-row{
    display: flex;
    justify-content: center;
}
.part-img{
    width: 40%;
}
.part-img img{
    width: 300px;
}
.part-details{
    width: 60%;
    padding-top: 10px;
}
.part-details h3{
    color: #4d4d4d;
    font-weight: 600;
    font-size: 32px;
}
.part-details p{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin: 20px 0;
}
/* Part css End */